#home-page a{
  color: coral;
}

#banner{
  background-color: #333;
  color: #AAA;
  height: 100vh;
  display: flex;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 50%);

  justify-content: center;
  flex-direction: column;

  background-image: url("../bgbanner.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:  fixed;
}

@media screen and (max-width: 768px) {
  #banner {
    background-attachment: scroll;
  }
}

#banner h1{
  color: coral;
  align-self: center;
  text-shadow:0px 0px 30px hsla(30, 100%, 50%, 80%);
}

#banner-link button p{
  font-size: 1.6em;
  color:#333;
  margin: 0.5em;
  font-weight: 600;
}

#banner-link, #banner-link button{
  align-self: center;
  background-color: coral;
  border: 2px coral solid;
  outline: none;
  border-radius: 10px;
  box-shadow:0px 0px 20px hsla(30, 100%, 50%, 30%);
}

#banner button:hover p{
  color:#fff;
}

#banner-link:active{
  border-color: white;
}

.about {
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  border:4px dotted darkgrey;
  margin-top: 3rem;
  max-width: 65ch;
}
