#home-page a{
  color: coral;
}

#banner{
  background-color: #333;
  color: #AAA;
  height: 60em;

  display:grid;
  align-items: center;
  justify-items: center;

  background-image: url("../bgbanner.png");
  min-height: 100%;
  position: relative;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:  fixed;
}

#banner h1{
  color: coral;
  align-self: end;
}

#banner-link button p{
  font-size: 1.6em;
  color:#333;
  margin: 0.5em;
  font-weight: 600;
}

#banner-link, #banner-link button{
  align-self: start;
  background-color: coral;
  border: 2px coral solid;
  outline: none;
  border-radius: 10px;
}

#banner button:hover p{
  color:#fff;
}

#banner-link:active{
  border-color: white;
}

.spacer{
  height:500px
}

.about {
  border:2px #AAA dotted;
  padding-bottom: 1em;
  padding-left: 1em;
  margin: 0.5em;
}
