#navbar {
  padding: 0.5em;
  position: sticky;
  top:0;
  left:0;
  width:100%;
  z-index:1;
  background-color: #333;
}

#navbar ul{
  list-style:none;
  margin: 0.3em;
}

#navbar li{
  display: inline;
}

#navbar a{
  color: hsla(16, 100%, 66%, 0.5);
  text-decoration: none;
  margin: 1em;
}

#navbar a:hover{
  color:coral;
}

#logo{
  padding:0.4em;
  border: 0.1em coral solid;
  border-radius: 5px;
}

