.footer {
  height: 20rem;
  width: 100%;
  position: absolute;
  bottom: 0;

  background-color: var(--secondary-color);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer{
  height: 23rem
}

.footer-element {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.6rem;
}
