#portfolio-container {
  display: grid;
}

.portfolio-item-card {
  width:20em;
  height: 25em;
  background-image: url("../screen.png");
  background-size:cover;
  background-color:#333;
  border:0.2em coral solid;
  border-radius: 1em;
  overflow: hidden;
}

p{
  margin:0;
  padding:0.5em;
  background-color:coral;
}
