h1 {
  margin: 1em;
}
#portfolio-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-item-card {
  margin: 1rem;
  width: 300px;
  height: 400px;
  background-image: url("../screen.jpg");
  background-size: cover;
  background-color: var(--secondary-color);
  justify-self: center;
  position: relative;
  border: 5px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 55%);
  box-sizing: border-box;
}

.portfolio-item-card:hover,
.portfolio-item-card:hover p,
.portfolio-item-card:hover .repo{
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 35%);
}

.portfolio-item-card p {
  color: #222;
  font-size:1.2rem;
  position: absolute;
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.6rem;
  border-radius: 10px;
  width: 100px;
  left: -10px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 45%);
}

.portfolio-item-card .repo:hover {
  color: #ccc;
}

.repo {
  position: absolute;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 10px;
  bottom: 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 50%);
  border-radius: 10px;
  padding: 0.6rem;
  right: -10px;
  width: 35%;
}

.link {
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0%);
  top: -5px;
  left: -5px;
  width:300px;
  height:400px;
  border-radius: 20px;
}
