html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: lightgray;
  color: #555;

  font-size: 1.1rem;

  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #333;
  --secondary-color: hsla(40, 73%, 49%, 1);
  --secondary-color--faded: hsla(40, 73%, 49%, .5);
  --navbar-height: 2.5rem;
  --footer-height: 5rem;
}

.btn {
  border: none;
  border-radius: 10px;
  outline: none;

  font-size: 1.2rem;
  line-height: 0;
  padding: 0.4rem 1.4rem;

  cursor: pointer;
}

.btn--primary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.text--skin {
  color: var(--secondary-color);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.badge {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0.2rem 0.6rem;
}

.badge--secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.shadow {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 40%);
}

.shadow--light {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 20%);
}

.shadow--hard {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 70%);
}

.glow__box--secondary {
  box-shadow: 0 0 10px var(--secondary-color--faded);
}

.glow__text--secondary {
  text-shadow: 0 0 10px var(--secondary-color--faded);
}

.content__container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

